<div class="filters">
    <form class="form-inline">
        <div class="form-group">
            <label class="sr-only">Search:</label>
            <input class="form-control" placeholder="Search" ng-model="query">
        </div>

        <div class="form-group">
            <label>Sort by:</label>
            <select ng-model="orderProp">
                <option value="due_on">Due On ↑</option>
                <option value="-due_on">Due On ↓</option>
            </select>
        </div>
        <div class="form-group">
            <label>Task type:</label>
            <select ng-model="task_type">
                <option value="">All</option>
                <option value="Homework">Homework</option>
                <option value="Exam">Exam</option>
                <option value="ClassTest">Class Test</option>
                <option value="Quiz">Quiz</option>
            </select>
        </div>
    </form>

</div>

<span class="glyphicon glyphicon-chevron-right week-next" ng-click="nextWeek()"></span>
<div class="calendar">
    <div class="head row">
        <div ng-repeat="day in days" class="col-md-2" ng-class="currentDate(day)">
            {{day | date:'EEEE, d'}}
        </div>
    </div>
    <div class="body">

        <div calendar-row class="row calendar-row"
             ng-repeat="task in tasks | filter:query | filter:task_type  | orderBy:orderProp"></div>

    </div>
</div>
<span class="glyphicon glyphicon-chevron-left week-prev" ng-click="prevWeek()"></span>
