.calendar {
  max-width: 900px;
  margin: 0 auto;
  .head {
    text-align: center;
    font-weight: bold;
    font-size: 13px;
    color: $grayFontColor;
    >div {
      border: 1px dashed $calendarDarkBorderColor;
      border-bottom: 2px solid black;
      padding: 10px 0;
    }
    .current {
      background-color: $calendarCurrentDateColor;
    }
  }
  .body {
    padding: 0 10px;
    background: url('/app/img/tablebg-0.png');
    border: 1px solid $calendarBorderColor;
    min-height: 400px;
    .calendar-row {
      padding-top: 10px;
      padding-left: 15px;
      &:last-child {
        padding-bottom: 10px;
      }
      .calendar-task {
        background-color: $calendarRowColor;
        padding: 5px;
        font-size: 13px;
        @include border-bottom-radius(5px);
        @include border-top-radius(5px);
        @include border-left-radius(5px);
        @include border-right-radius(5px);
        .teacher {
          font-weight: bold;
        }
      }

      &.ng-enter, &.ng-leave {
        @include transition(all 0.5s);
      }

      &.ng-enter {
        opacity: 0;
        @include translate(-200px, 0);
        @include transition(all 0.5s);
      }

      &.ng-leave.ng-leave-active {
        opacity: 0;
        @include translate(-200px, 0);
      }

      &.ng-enter.ng-enter-active {
        opacity: 1;
        @include translate(0px, 0);
      }
    }
  }
}

.week-prev, .week-next {
  cursor: pointer;
  top: 300px;
  position: absolute;
  &:hover {
    color: blue;
  }
}

.week-next {
  left: 948px;
}
.week-prev {
  left: -20px;
}
