.calendar {
  max-width: 900px;
  margin: 0 auto;
  .head {
    text-align: center;
    font-weight: bold;
    >div {
      border: 1px dashed black;
      border-bottom: 2px solid black;
      padding: 10px 0;
    }
  }
  .body {
    padding: 0 10px;
    background: url('/app/img/tablebg-0.png');
    border: 1px solid $calendarBorderColor;
    min-height: 400px;
    .calendar-row {
      padding-top: 10px;
      padding-left: 15px;
      &:last-child {
        padding-bottom: 10px;
      }
      .calendar-task {
        background-color: $calendarRowColor;
        padding: 5px;
        font-size: 13px;
      }

      &.ng-enter, &.ng-leave {
        @include transition(cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s);
      }

      &.ng-leave.ng-leave-active, &.ng-enter {
        opacity: 0;
        transform: translateX(100px);
      }

      &.ng-enter.ng-enter-active, &.ng-leave {
        opacity: 1;
        transform: translateX(-100px);
      }
    }
  }
}
