.calendar {
  .head {
    text-align: center;
    font-weight: bold;
    padding: 15px;
  }
  .body {
    .calendar-row {
      margin-top: 10px;
      .calendar-task {
        background-color: $calendarRowColor;
        padding: 5px;
        font-size: 13px;
      }

      &.ng-enter, &.ng-leave {
        @include transition(all linear 0.5s);
      }

      &.ng-leave.ng-leave-active, &.ng-enter {
        opacity: 0;
        transform: translateX(100px);
      }

      &.ng-enter.ng-enter-active, &.ng-leave {
        opacity: 1;
        transform: translateX(-100px);
      }
    }
  }
}
